.log_forms>form{
	display:flex; 
	align-items: center;
	flex-direction: column;
	gap: var(--spacing-normal) 0;
	opacity: 1;
	width: 100%;
	transition: width var(--time-transition), opacity var(--time-transition-fast);
	will-change: width, opacity;
}
	.log_forms._register>form:nth-child(1),
	.log_forms:not(._register)>form:nth-child(2){
		width:0px;
		height: 35ch; overflow:hidden;
		transition: width  var(--time-transition), opacity var(--time-transition-fast), visibility 0s var(--time-transition);
		opacity: 0;
		visibility: hidden;
		/* z-index:1001; */
	}


	.log_forms form>label, .log_forms button, .log_forms input { width: 100%; }
	.log_forms button, .log_forms input {
		border-radius: var(--radius);
		border: none;
		background-color: var(--color-background);
		padding: var(--spacing-small)  var(--spacing-medium);
	}
	.log_forms input {
		box-shadow: 0 3px 15px -15px var(--color-dark);
		border: 1px solid transparent;
		transition: border var(--time-transition) ease-out;
	}
	.log_forms input:focus {
		border: 1px solid var(--color-gray);
		}
	.log_forms input::placeholder { color: var(--color-pure-dark); }
	.log_forms button {
		cursor: pointer;
		font-weight: bold;
		padding: var(--spacing-small)  var(--spacing-large)
	}
	.log_forms button[type="submit"] {
		background-color: var(--color-accent);
		color: var(--color-light);
	}
	.log_forms button[type="submit"]:hover { animation: _bounce var(--time-transition); }
	.log_forms a { color: var(--color-gray); }
	.log_forms label:has(input[name="captcha"]) {display:flex; align-items:center; gap: var(--spacing-normal)}

