.input_number_label {
	display:flex;
	align-items: center;
	gap: 3ch;
}
.input_number {
	display:flex;
	border-radius: 1ch;
	background-color: #FFFFFF;
	overflow: hidden;
	box-shadow: 0 .2ch .8ch rgba(116, 116, 116, 0.25);
	max-width:  fit-content;
	max-height: fit-content;
}

.input_number>*{
	padding: 0; margin: 0; border: 0px;
	user-select: none;
	text-align: center;
	line-height: 3ch;
}

.input_number>span {
	width: 3ch;
	font-size: 1.5rem;
	cursor: pointer;
	transition: color var(--time-transition) ease;
	font-weight: bold;
}
.input_number input {
	width: 4ch;
	border-left: 0;
	border-right: 0;
	color: #747474;
	font-size: 18px;
	font-weight: 700;
	z-index: 1;
}


.input_number[data-disable="maximum"]>span:last-child,
.input_number[data-disable="minimum"]>span:first-child {
	pointer-events:none;
	color: rgba(116, 116, 116, 0.5);
}

.input_number input:focus { outline: 0; box-shadow: 0px; }

.input_number input::-webkit-inner-spin-button,
.input_number input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.input_number input { -moz-appearance: textfield; }
